@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Bai Jamjuree', sans-serif;
  margin: auto;
  font-size: 18px;
}

header {
  background-image: url(./images/bg-header-desktop.png);
  background-size: cover;
  text-align: center;
  padding: 90px 0;
  display: flex;
  justify-content: center;
}

main {
  padding: 0 8px;
}

.second-container {
  max-width: 700px;
  text-align: center;
  margin: auto;
}

.start-page {
  margin-top: -42px;
}

.paragraph {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.paragraph h2 {
  color: hsl(210, 10%, 33%);
  font-size: 40px;
}

.paragraph p {
  color: hsl(201, 11%, 66%);
}

.download-btn {
  display: flex;
  justify-content: center;
  gap: 18px;
}

.btn-download-cyan {
  color: white;
  background-color: hsl(171, 66%, 44%);
  text-decoration: none;
  font-weight: 600;
  padding: 15px 35px;
  border-radius: 30px;
  box-shadow: 0px 3px hsla(171, 64%, 33%, 0.789);
}

.btn-download-lightblue {
  color: white;
  background-color: hsl(233, 100%, 69%);
  text-decoration: none;
  font-weight: 600;
  padding: 15px 35px;
  border-radius: 30px;
  box-shadow: 0px 3px hsla(233, 66%, 60%, 0.462);
}

.keep-track {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.keep-track h3 {
  font-size: 40px;
  color: hsl(210, 10%, 33%);
}

.keep-track p {
  color: hsl(201, 11%, 66%);
  line-height: 1.7;
}

.computer {
  display: flex;
  gap: 60px;
  margin-top: 80px;
  flex-wrap: wrap;
}

.left-section {
  max-width: 700px;
}

.left-section img {
  width: 100%;
  transform: translateX(-10%);
}

.right-section {
  display: flex;
}

.desc-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.desc {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.desc h4 {
  color: hsl(210, 10%, 33%);
  font-size: 24px;
}

.desc p {
  color: hsl(201, 11%, 66%);
  max-width: 410px;
}

.clipboard {
  margin-top: 150px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 70px;
}

.clipboard h3 {
  color: hsl(210, 10%, 33%);
  font-size: 30px;
}

.clipboard p {
  color: hsl(201, 11%, 66%);
  margin-top: 20px;
}

.devices-img {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 700px;
}

.devices-img img {
  width: 100%;
}

.workflows {
  text-align: center;
  margin-top: 100px;
  line-height: 2.2;
}

.workflows h3 {
  font-size: 30px;
  color: hsl(210, 10%, 33%);
}

.workflows p {
  font-size: 16px;
  color: hsl(201, 11%, 66%);
}

.workflows .container {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 80px;
  align-items: center;
  flex-wrap: wrap;
}

.workflow {
}

.workflow h5 {
  color: hsl(210, 10%, 33%);
  font-size: 20px;
  font-weight: 600;
  margin-top: 20px;
  text-align: center;
}

.workflow p {
  margin-top: 15px;
  width: 350px;
}

.logos-works {
  display: flex;
  justify-content: space-around;
  margin-top: 150px;
  flex-wrap: wrap;
}

.install-desc {
  margin-top: 150px;
}

.install-desc h3 {
  font-size: 30px;
  color: hsl(210, 10%, 33%);
}

.install-desc p {
  line-height: 1.7;
}

.install-desc .download-btn {
  margin-top: 50px;
}

footer {
  background-color: #f5f6f8;
  margin-top: 150px;
}

footer .container {
  display: flex;
  align-items: center;
  padding: 30px;
  flex-wrap: wrap;
}

.logo-footer img {
  width: 50px;
  margin-right: 150px;
}

.menu-footer {
  display: flex;
  flex: 1;
  text-decoration: none;
  gap: 0px;
}

.descs-footer {
  width: 25%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.descs-footer a {
  text-decoration: none;
  color: hsl(210, 10%, 33%);
}

.social-medias {
  display: flex;
  gap: 30px;
}

@media (max-width: 1200px) {
  .computer {
    justify-content: center;
  }

  .left-section img {
    transform: translateX(0);
  }

  .desc {
    text-align: center;
  }
}

@media (max-width: 980px) {
  .logos-works {
    gap: 50px;
    justify-content: center;
  }
}

@media screen and (max-width: 375px) {
  header {
    background-image: url('./images/bg-header-mobile.png');
  }

  header .container {
    display: flex;
    align-items: center;
  }

  header img {
    width: 140px;
  }

  .start-page h2 {
    font-size: 35px;
  }

  .start-page p {
    font-size: 17px;
    width: 350px;
    margin: 8px;
    margin-bottom: 25px;
  }

  .download-btn {
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
  }

  .btn-download-cyan,
  .btn-download-lightblue {
    width: 70%;
  }

  .keep-track {
    margin-top: 40px;
    margin-left: 10px;
    width: 350px;
    font-size: 18px;
  }

  .keep-track h3 {
    font-size: 30px;
  }

  .keep-track p {
    font-size: 18px;
    width: 350px;
  }

  .left-section {
    width: 700px;
  }

  .left-section {
  }

  .right-section {
    display: flex;
    text-align: center;
  }

  .workflows h3 {
    line-height: 1.3;
  }

  .workflows p {
    font-size: 18px;
    margin-top: 10px;
    line-height: 1.3;
  }

  .logos-works {
    width: 300px;
    margin: 100px auto;
  }

  .install-desc .paragraph h3 {
    font-size: 30px;
    width: 360px;
  }

  .install-desc .paragraph p {
    font-size: 14px;
  }
}
